
      <div class="container mt-5">
        <div class="outerwrapper bg-warning bg-opacity-25 py-5">
          <div class="text-center">
            <h1 class="fw-bold">Why Study With Us?</h1>
            <p class="">Become a valuable expert with UpSkill.</p>
          </div>
          <div class="row p-2">
            <div class="col-md-4 p-3">
              <div class="icon-box text-center">
                <img
                  src="assets\img\Teacher.jpeg"
                  alt="World Class Teachers Icon"
                  class="mb-3"
                  width="60px"
                />
                <h5 class="fw-bold">World Class Teachers</h5>
                <p>
                  What should be the structure of an effective websites and
                  designs.
                </p>
              </div>
            </div>
            <div class="col-md-4 p-3">
              <div class="icon-box text-center">
                <img
                  src="assets\img\community.jpeg"
                  alt="Global Community Icon"
                  class="mb-3"
                  width="60px"
                />
                <h5 class="fw-bold">Global Community</h5>
                <p>
                  What should be the structure of an effective websites and
                  designs.
                </p>
              </div>
            </div>
            <div class="col-md-4 p-3">
              <div class="icon-box text-center">
                <img
                  src="assets\img\course.jpeg"
                  alt="Top Notch Courses Icon"
                  class="mb-3"
                  width="60px"
                />
                <h5 class="fw-bold">Top Notch Courses</h5>
                <p>
                  What should be the structure of an effective websites and
                  designs.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="univercitycontainer">
            <h1 class="fw-bold mb-5 text-center">Universities</h1>
            <div class="d-flex justify-content-around flex-wrap g-4">
              <img
                src="assets\img\picture1.png"
                class="img-fluid"
                alt=""
                width="200px"
                height="150"
              />
              <img
                src="assets\img\Picture2.jpg"
                class="img-fluid"
                alt=""
                width="250px"
                height="250"
              />
              <img
                src="assets\img\Picture3.jpg"
                class="img-fluid"
                alt=""
                width="200px"
                height="150"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt-5">
        <div class="text-center">
          <h1 class="fw-bold mb-1">Hand-On Learning & Projects</h1>
        </div>

        <div class="row">
          <div class="col-md-4 p-4">
            <div class="icon-box text-center">
              <img
                src="assets\img\hiring1.png"
                alt="World Class Teachers Icon"
                class="mb-3 rounded"
                width="300px"
              />
              <h5 class="fw-bold">100% Placement Guarantee</h5>
            </div>
          </div>

          <div class="col-md-4 p-4">
            <div class="icon-box text-center">
              <img
                src="assets\img\hiring2.png"
                alt="World Class Teachers Icon"
                class="mb-3 rounded"
                width="300px"
              />
              <h5 class="fw-bold">
                500+ Hours Live Training<br />
                by Industry Experts
              </h5>
            </div>
          </div>

          <div class="col-md-4 p-4">
            <div class="icon-box text-center">
              <img
                src="assets\img\hiring3.png"
                alt="World Class Teachers Icon"
                class="mb-3 rounded"
                width="300px"
              />
              <h5 class="fw-bold">
                One on one Mentorship<br />
                and Career Guidance
              </h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 p-4">
            <div class="icon-box text-center">
              <img
                src="assets\img\hiring4.png"
                alt="World Class Teachers Icon"
                class="mb-3 rounded"
                width="300px"
              />
              <h5 class="fw-bold">
                Live projects to gain<br />
                hands on Experience
              </h5>
            </div>
          </div>

          <div class="col-md-4 p-4">
            <div class="icon-box text-center">
              <img
                src="assets\img\hiring5.png"
                alt="World Class Teachers Icon"
                class="mb-3 rounded"
                width="300px"
              />
              <h5 class="fw-bold">
                1000+ Hiring<br />
                Partners
              </h5>
            </div>
          </div>

          <div class="col-md-4 p-4">
            <div class="icon-box text-center">
              <img
                src="assets\img\hiring6.png"
                alt="World Class Teachers Icon"
                class="mb-3 rounded"
                width="300px"
              />
              <h5 class="fw-bold">
                Minimum CTC of<br />
                3-4 Lakhs/Annum
              </h5>
            </div>
          </div>
        </div>

        <div class="bg-warning bg-opacity-25 py-5">
          <div class="row">
            <div
              class="col-lg-6 col-md-6 col-sm-12 text-center"
              style="font-size: 30px; font-weight: bold"
            >
              20 Assignments <br />
              100+ Hours Total Learning
            </div>
            <div
              class="col-lg-6 col-md-6 col-sm-12 text-center"
              style="font-size: 30px; font-weight: bold"
            >
              02 Projects <br />
              Internship Included
            </div>
          </div>
        </div>
      </div>