<div class="instructors-section">
    <h1 class="section-title">Meet Our Instructors</h1>
    <div class="instructors-container">
      <!-- Instructor 1 -->
      <div class="instructor-card">
        <div class="instructor-name">Bharat Chavhan</div>
        <div class="instructor-role">Java Instructor</div>
      </div>
      <!-- Instructor 2 -->
      <div class="instructor-card">
        <div class="instructor-name">Rajesh Patale</div>
        <div class="instructor-role">Java Instructor</div>
      </div>
      <!-- Instructor 3 -->
      <div class="instructor-card">
        <div class="instructor-name">Swapnil Tali</div>
        <div class="instructor-role">Testing Instructor</div>
      </div>

       <!-- Instructor 4 -->
       <div class="instructor-card">
        <div class="instructor-name">Monali Gawargur</div>
        <div class="instructor-role">FrontEnd Instructor</div>
      </div>

       <!-- Instructor 5 -->
       <div class="instructor-card">
        <div class="instructor-name">Shubham Umratkar</div>
        <div class="instructor-role">Angular Instructor</div>
      </div>

       <!-- Instructor 6 -->
       <div class="instructor-card">
        <div class="instructor-name">Shwetal Ghadge</div>
        <div class="instructor-role">Testing Instructor</div>
      </div>
    </div>
  </div>