<app-header></app-header>

<div class="container">
  <div class="course-header">
    <div class="course-welcome">
      Welcome to {{courseName}} course 👋
    </div>
    <youtube-player
      id="player"
      [videoId]="video"
      suggestedQuality="highres"
      [height]="380"
      [width]="640"
    ></youtube-player>
  </div>

  <div class="chapter-list" *ngFor="let chapter of chapterlist | async">
    <div class="chapter-header">
      <i class="fa fa-list"></i> Course Contents
    </div>
    <div class="chapter-subtext">
      (click on chapter name to get into the videos)
    </div>

    <div
      class="no-chapters"
      *ngIf="chapter.chapter1name === ''"
    >
      Currently No Chapters available for this Course. Please wait, the
      Instructor will be adding the chapters soon here
    </div>

    <div
      class="chapter-item"
      *ngIf="chapter.chapter1name !== ''"
      (click)="openChapter(chapter.chapter1id)"
    >
      <div class="chapter-box"><i class="fa fa-check"></i></div>
      <div class="chapter-name">1) {{chapter.chapter1name}}</div>
      <div class="chapter-subcontents">subcontents (1/1)</div>
    </div>
    <hr *ngIf="chapter.chapter1name !== ''">

    <!-- Repeat the pattern for chapters 2 to 8 -->
  </div>

  <div class="sub-container">
    <div class="sub-btns">
      <button id="overview-btn" (click)="openOverview()" class="btn btn-info">
        Overview
      </button>
      <button id="qa-btn" (click)="openQandA()" class="btn btn-info">Q&A</button>
      <button id="downloads-btn" (click)="openDownloads()" class="btn btn-info">
        Downloads
      </button>
      <button id="notes-btn" (click)="openNotes()" class="btn btn-info">
        Notes
      </button>
      <button
        id="announcements-btn"
        (click)="openAnnouncements()"
        class="btn btn-info"
      >
        Announcements
      </button>
      <hr />
    </div>

    <div id="overview" class="descriptions" *ngFor="let course of courselist | async">
      <strong class="course-title">About this Course</strong>
      <h3 class="course-subtitle">{{course.coursename}}</h3>
      <h6 class="course-badge">{{course.courseid}}</h6>
      <hr />

      <p class="course-description">
        <b>{{course.description}}</b>
      </p>
      <hr />

      <div class="course-details">
        <div><b>Level:</b> {{course.skilllevel}}</div>
        <div><b>Language:</b> {{course.language}}</div>
        <div><b>Course Type:</b> {{course.coursetype}} contents</div>
        <div><b>Instructor:</b> {{course.instructorname}} - {{course.instructorinstitution}}</div>
        <div><b>Enrolled Date:</b> {{course.enrolleddate}}</div>
        <div><b>Learners:</b> {{course.enrolledcount}} learners enrolled previously</div>
      </div>
      <hr />

      <div class="course-features">
        <strong>Features</strong>
        <label>
          Available on
          <span class="feature-highlight">Android</span> and
          <span class="feature-highlight">iOS</span>
        </label>
      </div>
      <hr />

      <div class="course-certificate">
        <strong>Certificate</strong>
        <label>Get the certificate by completing entire course</label>
        <br />
        <div [routerLink]="['/certificate']" class="certificate">
          Certificate
        </div>
      </div>
      <hr />
    </div>

    <div id="qa" class="descriptions">
      <div class="qa-search">
        <i class="fa fa-search"></i>
      </div>
      <input
        class="form-control"
        id="searchtxt"
        type="text"
        name="searchQA"
        placeholder="search all course questions..."
      />
      <strong
        id="newQA"
        (click)="newQuestion()"
        class="ask-question"
      >
        Ask a New Question?
      </strong>
      <textarea
        id="questions"
        rows="4"
        class="form-control"
        placeholder="ask your questions here..."
      ></textarea>
    </div>

    <!-- <div id="downloads" *ngFor="let chapter of chapterlist | async" class="descriptions">
      <div
        id="downloadalert"
        class="no-downloads"
        *ngIf="chapter.chapter1name === ''"
      >
        Currently No Resources available for download. Please wait, the
        Instructor will be adding the Resources while adding the chapters soon
        here
      </div>
      <div *ngIf="chapter.chapter1name !== ''">
        <strong id="downloadtxt" class="download-material">
          View and download your course related materials here ...
        </strong>
        <div class="download-buttons">
          <button
            type="button"
            class="btn btn-warning btn-sm"
            (click)="openDoc()"
          >
            View Material
          </button>
         
        </div>
      </div>
    </div> -->
  </div>
</div>
